<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">UrLoot</a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>

      </div>
      <div id= "navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" href="#">Home</a>
            <a class="navbar-item" href="#">Blog</a>
            <a class="navbar-item" href="#">Forum</a>
            <a class="navbar-item" href="#">Shop</a>
            <a class="navbar-item" href="#">Example</a>

        </div>
      </div>

    </div>
  </nav>

  <script type="text/javascript">
    ( function(){
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);

      burger.addEventListener('click', function(){
        burger.classList.toogle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>


  </body>
</html>
