<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/custom.css" rel="stylesheet">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">UrLoot</a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>

      </div>
      <div id= "navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" href="#">Home</a>
            <a class="navbar-item" href="#">Blog</a>
            <a class="navbar-item" href="#">Forum</a>
            <a class="navbar-item" href="#">Shop</a>
            <a class="navbar-item" href="#">Example</a>

        </div>
      </div>

    </div>
  </nav>
  <div  class="container-fluid">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <h2>Login</h2>
        <hr>
        <!-- Form -->
<form class="" action="index.html" method="post">
  <div class="form-group ">
    <label for="">Username</label>
     <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for=""Password>Password</label>
    <input type="password" class="form-control">

  </div>
<button class="btn btn-primary">Login</button>
</form>

      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


  <script type="text/javascript">
    ( function(){
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);

      burger.addEventListener('click', function(){
        burger.classList.toogle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>


  </body>
</html>
